body {
  background-color: #d5dfe9;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-app {
  max-width: 600px;
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 3px 2px 5px rgba(000, 000, 000, 0.3);
}

header,
main {
  border-bottom: solid rgba(150, 161, 200, 0.3) 1px;
  padding-bottom: 10px;
}

.search-input {
  text-align: center;
  width: 80%;
  margin-bottom: 20px;
}

.search-input-city {
  background-color: rgba(213, 223, 233, 0.3);
  width: 70%;
  margin-left: 35px;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
}

.search-input-button {
  background-color: #96a1c8;
  width: 20%;
  margin-left: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
}

.city-temperature {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.temperature {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 30px;
}

.weather-icon {
  margin-right: 10px;
  font-size: 38px;
  line-height: 100px;
}

.weather-degree {
  font-size: 80px;
  font-weight: 700;
}
.weather-unit {
  font-size: 18px;
  line-height: 50px;
  font-weight: 100;
}

.weather-details {
  color: #8f939d;
}

strong {
  color: #222f4f;
}

footer {
  padding-top: 10px;
  font-size: 14px;
  color: #8f939d;
}

a {
  color: #96a1c8;
}
